# MongoDB Configuration
MCDATABASE=192.168.0.229:27017
MCUSER=your_mongo_username
MCPASSWORD=your_mongo_password
MCDATABASENAME=marriagecalculator_prod

# Application Environment
ASPNETCORE_ENVIRONMENT=Production